<h2>
    <span class="col-sm-9 header-main">Главная страница</span>
    <span class="col-sm-3 header-main text-center">
        <a href="/admin" class="btn btn-success">Панель администрирования</a>
    </span>
</h2>
<div id="searchBlock">
        <input type="text" id="search">
        <button class="btn btn-success"> Искать </button>
</div>
<div id="listView"></div>

<a href="/car/42">Car</a>