ul.newCar {
    list-style-type: none;
    font-family: Cuprum;
    font-size: larger;
    background-color: ivory;
    padding: 30px;
    max-width: 550px;
    margin: auto;
}

ul.newCar li {
    margin-bottom: 5%;
}

ul.newCar select, textarea {
    width: 90%;
}