#app {
    position: absolute;
    width: 100%;
}
#searchBlock {
    width: 550px;
    margin: 20px;
}
#carList {
    padding: 30px;
}
.header {
    background-color: lightgray;
    padding: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.5);
}
.header-main {
    background-color: gold;
    padding: 10px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.5);
}
form {
    max-width: 550px;
    margin: auto;
}
thead {
    background-color: whitesmoke;
}
h4 {
    margin-top: 20px;
}
